.title {
    text-align: center;
    margin: 10px 0px;
    color: var(--bs-blue);
}

.rowBody {
    margin-top: 5px;
}

.body {
    margin-top: 30px;
}

.totalAmount {
    margin-top: 30px;
}

.wrapper {
    border: solid 1px #333;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
}