.text-center{
    margin-left: auto;
}
.title {
    text-align: center;
}
.user-item {
    margin: 20px 5px;
    border-bottom: 1px solid #3498db;
}
.user-value {
    text-align: right;
}
.layout-avatar {
    text-align: center;
}