.text-center{
    margin-left: auto;
}
.title {
    text-align: center;

}   
.user-item {
    margin: 20px 5px;
    border-bottom: 1px solid var(--gray);
}
.user-value {
    text-align: right;
    margin-top: 12px;
}
.layout-avatar {
    text-align: center;
}
.btn-edit {
    margin-top: 12px;
    text-align: right;
}