.layout {
    background: var(--white);
}
.detail {
    display: flex;
    flex-wrap: wrap;
    
}
.layout-detail {
    border: 1px solid var(--gray);
    margin: 12px;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
}
.layout-active {
    border: 1px solid var(--info);
    margin: 12px;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
}
.detail-image {
    width: 40px;
    height: 40px;
}
.product-name {
    font-size: 1.8rem;
    font-weight: 600;
}