.header {
    background-color: #dbe6e6;
}

.rightHeader, .leftHeader {
    margin: 10px 0px;
}

.bg {
    background-color: #dbe6e6;
}

.hrefUnderline {
    text-decoration: none;
    color: #000;
}

.contentCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    min-height: 20px;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.cart, .support {
    margin: 5px;
}

.cart {
    margin-right: 10px;
}

.user {
    margin-right: 10px;
    margin-left: 5px;
}

.menuList {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    min-width: 110px;
    min-height: 20px;
    padding: 5px;
    font-weight: bolder;
    border-bottom: solid 1px #333;
    margin: 10px;
    text-decoration: none;
    &:hover {
        background-color: #fff;
    }
}