.layout-avatar {
    position: relative;
    background-color: var(--white--text) ;
    margin: 4px;
    min-height: 600px;
    
}
.layout-image {
    max-width: 100%;
    max-height: 380px;
}
.title-avatar {
    text-align: center;

    color: var(--gray) ;
    margin-bottom: 25px;
}
.avatar-center {
    text-align: center;
}

// btn
.btn-update-info {
    margin-top: 12px;
    text-align: right;
}
.btn-update-done {
    margin-top: 12px;
    text-align: right;
}
.btn-cancel {
    padding: 8px 16px;
    background: var(--red);
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--white--text);
    border-radius: 6px;
    margin: 4px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}
.btn-done {
    padding: 8px 16px;
    margin: 4px;
    background: var(--success);
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--white);
    border-radius: 6px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}

.input-file {
    display: none;
}
.icon-update {
    background-color: var(--info);
    color:  var(--white);
    cursor: pointer;
    font-size: 3rem;
    padding: 8px;
    margin: 4px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}