.wrapper {
    border: solid 1px #a3a1a1;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.icon {
    font-size: 48px;
    color: orange;
}

.iconDisable {
    font-size: 48px;
    color: var(--bs-gray);
}