
.wrapperBody {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}

.wrapperFailure {
    // border: solid 1px #333;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    // min-height: 400px;
    margin: 10px;
}