
.statusLine {
    height: 5px;
    width: 165px;
    border-radius: 10px;
}

.status {
    margin: 40px 0px;
    height: 24px;
    color: var(--bs-blue);
}

.wrapperReturn {
    border-top: solid 1px #333;
}

.imageReturn {
    width: 200px !important;
    height: 200px !important;
}