.wrapper {
    background-color: rgb(218, 212, 206);
    border: solid 1px #333;
    border-radius: 5px;
    margin: 20px 0px;
}

.items {
    margin: 10px;
    cursor: pointer;
}

.title {
    font-size: 24px;
    margin: 15px;
}