.layout-information {
    display: flex;
}
.phoneNumber {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid var(--gray);
}
.address {
    border-bottom: 1px solid var(--gray);
    font-size: 1.6rem;
}