.detailBtn {
    color: var(--bs-blue);
    cursor: pointer;
    text-decoration: underline;
}

.content {
    width: 340px;
}

.price {
    text-align: end;
}

.totalAmount {
    margin: 10px 5px;
}

.printHide {
    display: none;
}

.printShow {
    position: relative;
}