.avatar {
    width: 20px;
    height: 20px;
    border-radius: 20px;

}
.wrapper {
    border: solid 1px #000;
    margin: 20px;
    border-radius: 10px;

}
.title {
    font-weight: 600;
    font-size: 24px;
    padding-left: 20px;
    // border-bottom: 1px solid #000;
}
.star {
    color: #fbca04;
}