.wrapper {
    background-color: rgb(226, 176, 125);
    border: solid 1px #333;
    border-radius: 5px;
    margin: 20px 0px;
}

.title {
    font-size: 24px;
    margin: 15px;
}

.content {
    margin: 5px 5px;
}

.card {
    width: 18rem;
    margin: 10px 0px;
    cursor: pointer;
}